@import './global/vars';
@import './global/base';
@import './components/buttons';



.nav{
    background:linear-gradient(to top, $mid 0%, $dark 100%);
    display: block;
    width: 100vw;
    z-index: 70;
    position: sticky;
    top:0;
    
    &_links{
        list-style-type: none;
        padding: 1rem 0;
        margin:0;
        display: flex;
        align-items: center;
    }
    &_link--menu{
        margin-right: auto;
        cursor: pointer;
        height: 24px;
        width: 24px;
        background: none;
        border: none;
        padding: 0;
  
        

        &:before,
        &:after{
            display: block;
            content: '';
            position: absolute;
            background: white;
            height: 4px;
            width: 20px;
            border-radius: 10px;
            transform: translate(0,-5px);
            transition: transform 0.3s;
        }
        &::before{
            transform: translate(0,5px);
        }

        &--clicked::before{
            transform: rotate(-45deg) translate(0,0);
        }
        &--clicked::after{
            transform: rotate(45deg) translate(0,0);
        }
    }
    &_link{
       font-weight: 500;
       margin-left:1rem;
       cursor: pointer;
    }


    // Mobile menu

    &--mobile{
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index:50;
        transition:opacity 0.3s,transform 0.3s; 
        left:-100vw;
        opacity: 0;

    }
    &--active{
        opacity: 1;
        transform: translate(100vw,0);
    }
    &_links--mobile{
        flex-direction: column;
        .nav_link{
            padding: 2rem;
            margin:0;
        }
    }
    
    &--side{
        display: none;
        
    }
    &_a{
        text-decoration: none;
        color: $text--secondary;
        &:hover{
            color: $action;
        }
        &.current{
            color: $text;
            &:hover{
                color: $action;
            }
        }
    }
}

.hero{
    &_info{
        &--description{
            color:$text--secondary;
            font-size:20px;
        }
    }
}

.about{
    background-color: $dark;
    padding: 1em 1rem;

    &_info{
        &--title{
            margin:0;
        }
        &--description{
            color:$text--secondary;
        }
    }

    &_img{
        width: 100%;
    }
}

.work{
    background: url('../img/gears.svg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:12px;
    display: flex;
    align-items: center;

    &_title{
        align-self: flex-start;
    }

    .content{
        background-color: $dark;
        margin:1rem 3px;
        padding: 0.5rem 1.5rem;
        width: 100%;
    }
    .source{
        height: 30px;
        width: 30px;
        margin:1rem 3px;
    }

    .icon{
        height: 35px;
        padding: 0 0.2rem;
    }
    .glider-prev,.glider-next{
        display: block;
        height: 15%;
        width: 15%;
        position: absolute;
        top:35%;
        right: -17%;
        background-color: $action;
        clip-path: polygon(0 0, 0% 100%, 50% 50%);
    }
    .glider-prev{
        transform: rotate(180deg);
        left:-17%;
    }
    .glider-contain{
        position: relative;
        margin:0;
        width: 90%;
        max-width: 320px;
    }
    .glider-dot{
        background-color: $action--dark;
        background: radial-gradient(circle at center, transparent 35%, $action--dark 15%);
        &.active{
            background: $action;
            }
    }
}

.contact{
    &_title{
        font-size: 28px;
    }
    .contactForm{
        &_input{
            background:none;
            color:$text;
            border:none;
            border-bottom: 3px solid $light;
            width: 100%;
            padding: 10px 0.2rem;

            &::placeholder{
                @include font(700);
                font-size: 20px;
                color:$text;
                opacity: 1;
            }
        }

        &_button{
            margin:1.3rem 10px;
            width: 90px;
        }
        
    }
    &_links{
        display: none;
        list-style: none;
        padding: 0;
    }
    &_link{
        @include fontSize(4.1vw);
        padding: 0 2vw;
    }
}

@media screen and (min-width:480px){
    .nav{
        font-size:21px;
        &--mobile{
            .nav_link{
                padding: 1.5rem 0;
            }
        }
    }

    .about{
        display: flex;
        &_info{
            flex:4;
            &--description{
                font-size:1.1rem;
                margin-right:10px;
            }
        }
        &_img{
            flex:3;
        }
    }

    .work{
        align-items: flex-start;
        font-size:14px;
        .glider-contain{
            margin:10px 30px;
        }
        .icon{
            width: 11%;
        }
        .source{
            width: 11%;
            margin:0.5rem 0;
        }
    }
}

@media screen and (min-width:700px){
    @include padding(1.5rem 2.5rem);

    .nav{
        padding: 0 2.5rem;
        &--mobile{
            .nav_link{
                padding: 3rem 0;
            }
        }
    }

    .hero{
        background:url(../img/bg-shape.svg) no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

            &_info{
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-template-areas:
                "title space"
                "desc button";

                &--title{
                    grid-area: title;
                    font-size:35px;
                    line-height: 38px;
                }
                &--description{
                    width: 70%;
                    grid-area: desc;
                    font-size: 25px;
                    line-height: 27px;
                }
            }

        
        &_callToAction{
            grid-area: button;
            align-self: center;
            width: 150px;
            height: 50px;
        }
    }
    
    .about{
        align-items: center;
        &_info{
            flex:2;
            &--description{
                font-size:1.1rem;
                margin-right:10px;
            }
        }
    }

    .contactForm{
        &_input{
            padding: 20px 0.2rem;
        }

    .work{
        .glider-contain{
            margin:0;
        }
    }
}}

@media(min-width:1224px){
    @include padding(1.5rem 15vw 1.5rem 2.5rem);

    .hero{
        min-height: 100vh;
        display: block;
        &_info{
            display: block;
            position: relative;
            &--title{
                @include fontSize(7.3vw);
            }
            &--description{
                width: 35vw;
                @include fontSize(3.7vw);
            }
        }
        &_callToAction{
            position: absolute;
            width: 16vw;
            height: 6vw;
            bottom: -25px;
            left: 42vw;
            @include fontSize(1.7vw);
        }
    }

    .nav{
        &--top{
            display: none;
        }

        &_link--menu{
            display: none;
        }
    &--mobile{
        display: none;
    }
    
    &--side{
        display: flex;
        background: none;
        position: fixed;
        max-width:15vw;
        height: 100vh; 
        right: 0;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0;
        @include fontSize(2vw);
    }
    &_links--side{
        display: flex;
        flex-direction: column;
        min-width: 250px;
        padding: 2rem;
        margin:0;

        .nav_link{
            padding: 0;
            margin:0;
            width: 100%;
            flex:1;
            display: block;
            text-align: right;
        }
    }
    }

    .about{
        &_info{
            @include fontSize(2vw);
            &--description{
                @include fontSize(1.9vw);
            }
        }
        &_img{
            flex:1;
        }
    }

    .contact{
        &_title{
            @include fontSize(5vw);
        }
        .contactForm{
            &_input{
                padding:2vw 1rem;
            }
            &_input::placeholder{
                @include fontSize(2.5vw);
            }
            &_button{
                width: 10vw;
                height: 4vw;
                margin:2.5vw 10px;
            }
        }
        &_links{
            display: flex;
        }
    }

    .work{
        min-height: 100vh;
        &_title{
            @include fontSize(3vw);
        }
        .glider-contain{
            max-width: 35vw; 
        }
        .content{
            @include fontSize(2vw);
        }
        .icon{
            $size:5vw;
            height:$size;
            width:$size;
        }
        .source{
            $size:4vw;
            height:$size;
            width:$size;
        }
    }
}