.about{
    background-color: $dark;
    padding: 1em 1rem;

    &_info{
        &--title{
            margin:0;
        }
        &--description{
            color:$text--secondary;
        }
    }

    &_img{
        width: 100%;
    }
}

@media screen and (min-width:480px){
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        &_info{
            &--description{
                font-size:1.1rem;
                margin-right:10px;
            }
        }
        &_img{
            width: 460px;
        }
    }
}

@media screen and (min-width:700px){
    .about{
        flex-direction: row;
        &_info{
            flex:5;
            &--description{
                font-size:1.1rem;
                margin-right:10px;
            } 
        }

        &_img{
            flex:3;
            width: 100%;
        }
    }
}

@media(min-width:1224px){
    .about{
        &_info{
            @include fontSize(2vw);
            &--description{
                @include fontSize(1.9vw);
            }
        }
        &_img{
            flex:1;
        }
    }
}