.hero{
    &_info{
        &--description{
            color:$text--secondary;
            font-size:20px;
        }
    }
}

@media screen and (min-width:480px){}

@media screen and (min-width:700px){
    .hero{
        background:url(../img/bg-shape.svg) no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

            &_info{
                &--title{
                    @include fontSize(5vw);
                }
                &--description{
                    width: 70%;
                    @include fontSize(4vw);
                }
            }

        
        &_callToAction{
            grid-area: button;
            align-self: center;
            width: 150px;
            height: 50px;
        }
    }
}

@media(min-width:1224px){
    .hero{
        min-height: 100vh;
        display: flex;
        margin:auto 0;
        &_info{
            display: block;
            position: relative;
            &--title{
                @include fontSize(7.3vw);
            }
            &--description{
                width: 35vw;
                @include fontSize(3.7vw);
            }
        }
        &_callToAction{
            position: absolute;
            width: 16vw;
            height: 6vw;
            bottom: -2vw;
            left: 42vw;
            @include fontSize(1.7vw);
        }
    &_scrollIndicator{
        border-radius: 200px 200px 200px 200px;
        display: block;
        border: 3px solid $action;
        height: 50px;
        width: 24px;
        position: absolute;
        bottom: 1vw;
        right: 50vw;

        &Ball{
            border-radius: 200px 200px 200px 200px;
            display: block;
            height: 15px;
            width: 15px;
            position: relative;
            top:0;
            left:2px;
            background-color: $action--light; 
            animation: slideDown 2s infinite;

            @keyframes slideDown{
                0%{
                    top:0;
                }
                50%,100%{
                    top:65%;
                }
            }
        }
    }
    }
}